<!DOCTYPE html>
<html ng-app="crApp">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/cashregister.css">


    <script src="https://code.jquery.com/jquery-2.1.4.js" data-require="jquery@*" data-semver="2.1.4"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <!-- <script type="text/javascript" src="js/angular-touch.min.js"></script>
    <script type="text/javascript" src="js/angular-carousel.min.js"></script>
    <script type="text/javascript" src="js/angular-animate.min.js"></script> -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="js/ui-bootstrap-custom-2.1.3.js"></script> -->

    <script type="text/javascript" src="cashregister.js"></script>
  </head>
<!-- Set the controller for the body -->
<body ng-controller="crCtrl">
<!-- set the container for all the page content -->
    <div class="container-fluid">
    <!-- Creates the panel div to wrap the content -->
        <div class="panel panel-default">
        <!-- HTML for the header -->
            <div class="panel-heading">
                <h1>$$$ CASH REGISTER $$$</h1>
                <hr>
                <div ng-show="total">Total: {{total | currency}}</div>
                <div ng-show="paid">Amount Paid: {{paid | currency}}</div>
                <div ng-show="totalDue">Change Due: {{totalDue}}</div>
            </div>
            <!-- HTML for the body content -->
            <div class="panel-body">
                <form name="cashRegister" class="form-horizontal">
                    <div class="form-group">
                    <!-- Input for Total Amount of order -->
                        <div class="col-md-3">
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                  <input type="text" class="form-control input-lg" ng-model="total" placeholder="Total Amount">
                            </div>
                            <span class="help-block help-block-label">Total Amount</span>
                        </div>
                        <!-- Input for Total amount of money given -->
                        <div class="col-md-2">
                                <div class="input-group">
                                  <div class="input-group-addon">$</div>
                                  <input type="text" class="form-control input-lg" ng-model="paid" placeholder="Amount Paid">
                                </div>
                           
                            <span class="help-block help-block-label">Amount Paid</span>
                        </div>
                        <!-- Button that activates the make change function -->
                        <div class="col-md-2">
                            <button class="btn btn-lg btn-primary btn-block" ng-click="makeChange()">
                                Make Change!
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Contents that will be populated by the coins and change information -->
                <div class="well">
                    <table id="cartTable" class="table table-condensed table-striped table-responsive table-borderless">
                        <tbody>
                            <span ng-show="totalDue">Amount of Coins: {{changeArr.length}}</span><hr>
                            <div ng-repeat="item in coinAmount track by $index">{{item}}</div>
                            <hr>
                           <tr>                                     
                                 <td>Coin Type</td>
                                 <td>Coin Image</td>
                                 <td>Change Value</td>
                           </tr>
                            <tr ng-repeat="change in changeArr track by $index">
                                <td>{{change.name}}</td>
                                <td><img ng-src="{{change.image}}"></td>
                                <td>{{change.value | currency}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-if="totalDue" style="width:800px; height: 400px">
                      <carousel changeArr="changeArr"></carousel>
                    </div>
            </div>
        </div>
    </div>    
</body>
</html>

